[<%= link_to 'Home', '/' %>]
<%= render 'listing' %>
<p class="notice">
  <strong>Notice to recruiters:</strong>
  You are generally not welcome. Paying commissions seriously weakens the value of employees, and in technical
  fields most staffing agencies fail to meet quality expectations anyway. Please do us a favor and refrain from
  contacting posters of this website.
</p>